.form-control-inline {
    min-width: 200;
    width: 100%;
    display: block;
}

.pro-title {
	color: black !important;
	background: none !important;
	text-shadow: none !important;
}

.margin {
	margin-bottom: 5px;
}

.centered {
	margin: 0 auto;
}

.left {
	float: left;
}

.clear {
	clear: both;
}

.title {
	font-size: 20px;
	width: 60%;
	margin-left: 10px;
}

.modal-content {
	padding: 10px !important;
}

.margin-left {
	margin-left: 20px;
}

.gestion-title {
  font-size: 30px;
  padding: 5px;
}

h1 {
  color: white;
  font-family: "Julius Sans One", sans-serif;
}

a:hover {
  text-decoration: none !important;
}
