/* MAIN */

body {
  padding-top:50px
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background: black;
  margin-top: 50px;
}

#footer {
  background: black;
  margin: 0px !important;
}

#footer-content {
  position: relative;
  height: 250px;
  width: 100%;
  background: black;
}

.container-fluid {
  padding: 0px !important;
  margin: 0px !important;
}

.glyphicon-remove:hover {
  cursor:pointer
}

.padding {
  margin-right: 30px;
}

.navbar {
  background: white !important;
  height: 100px;
  border-bottom: 0px !important;
}

#logo {
  position: relative;
  height: 50px;
  width: 250px;
  background-color: white;
}

/* NEWS Base */

#first {
  background: black !important;
}

#second {
  background: purple;
  margin: 0px !important;
}

#third {
  background: green;
  margin: 0px !important;
}

.normal {
  height: 300px;
  background: red;
  padding: 0 !important;
}
.video {
  background: blue;
}

.principal {
  background: yellow;
}

/* NEWS Description */

.title {
  position: relative;
  height: 50px;
  background: white;
}

.description {
  position: absolute;
  height: 100px;
  width: 100%;
  background: black;
  opacity: 0.7;
  bottom: -100px;
}
