<div class="container-fluid" style="text-align: center; background: white; padding-bottom: 12px;">
  <a ui-sref="home"><img src="images/logo.png" height="90" style="float:left;" alt=""/></a>
  <a ui-sref=".profesionales"><h2 style="display: inline-block; margin-left: 15px; margin-top: 33px;">Profesionales</h2></a>
  <a ui-sref=".portfolio"><h2 style="display: inline-block; margin-left: 15px">Portfolio</h2></a>
  <a ui-sref=".noticias"><h2 style="display: inline-block; margin-left: 15px">Noticias</h2></a>
</div>

<ui-view></ui-view>
