<p class="gestion-title">
  Editar portfolio
</p>
<hr>
<form name="todoForm" novalidate>
  <div class="form-group" ng-class="{'has-error': todoForm.content.$invalid && todoForm.content.$dirty}">

  <accordion close-others="oneAtATime">
    <accordion-group heading="Español" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      <textarea class="form-control focus form-control-inline custom-text" name="descripcionEsp"
      rows="4" cols="50"
      placeholder="Descripcion" autocomplete="off"
      ng-model="portfolio.descripcionEsp"></textarea>
    </accordion-group>
    <accordion-group heading="Ingles">
      <textarea class="form-control focus form-control-inline custom-text" name="descripcionEsp"
      rows="4" cols="50"
      placeholder="Descripcion" autocomplete="off"
      ng-model="portfolio.descripcionIng"></textarea>
    </accordion-group>
    <accordion-group heading="Portugues">
      <textarea class="form-control focus form-control-inline custom-text" name="descripcionEsp"
      rows="4" cols="50"
      placeholder="Descripcion" autocomplete="off"
      ng-model="portfolio.descripcionPor"></textarea>
    </accordion-group>
    <accordion-group heading="Frances">
      <textarea class="form-control focus form-control-inline custom-text" name="descripcionEsp"
      rows="4" cols="50"
      placeholder="Descripcion" autocomplete="off"
      ng-model="portfolio.descripcionFra"></textarea>
    </accordion-group>
  </accordion>

<button class="btn btn-default" ng-disabled="todoForm.$invalid" ng-click="editarPortfolio()">Editar</button>
</form>
