  <p class="gestion-title"> {{ profesional.nombre }} </p>
  <hr>
  <form name="todoForm" novalidate>
    <div class="form-group" ng-class="{'has-error': todoForm.content.$invalid && todoForm.content.$dirty}">
      <input type="text" class="form-control focus form-control-inline margin" name="nombre"
             placeholder="Nombre" autocomplete="off" required
             ng-model="profesional.nombre">
      <span class="has-error control-label" ng-show="
          todoForm.content.$invalid && todoForm.content.$dirty">
        Content is required.
      </span>
      <accordion close-others="oneAtATime">
      <accordion-group heading="Español" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      <input type="text" class="form-control focus form-control-inline" name="tituloEsp"
             placeholder="Titulo" autocomplete="off"
             ng-model="profesional.tituloEsp">
      <textarea ui-tinymce class="form-control focus form-control-inline custom-text" name="descripcionEsp"
             rows="4" cols="50"
             placeholder="Descripción" autocomplete="off"
             ng-model="profesional.descripcionEsp"></textarea>
      </accordion-group>
      <accordion-group heading="Inglés">
        <input type="text" class="form-control focus" name="tituloIng"
             placeholder="Titulo" autocomplete="off"
             ng-model="profesional.tituloIng">
        <textarea ui-tinymce class="form-control focus form-control-inline custom-text" name="descripcionIng"
                  rows="4" cols="50"
                  placeholder="Descripción" autocomplete="off"
                  ng-model="profesional.descripcionIng"></textarea>
      </accordion-group>
      <accordion-group heading="Portugués">
          <input type="text" class="form-control focus" name="tituloEsp"
             placeholder="Titulo" autocomplete="off"
             ng-model="profesional.tituloPor">
          <textarea ui-tinymce class="form-control focus form-control-inline custom-text" name="descripcionPor"
                    rows="4" cols="50"
                    placeholder="Descripción" autocomplete="off"
                    ng-model="profesional.descripcionPor"></textarea>
      </accordion-group>
      <accordion-group heading="Francés">
          <input type="text" class="form-control focus" name="tituloEsp"
             placeholder="Titulo" autocomplete="off"
             ng-model="profesional.tituloFra">
          <textarea ui-tinymce class="form-control focus form-control-inline custom-text" name="descripcionFra"
                    rows="4" cols="50"
                    placeholder="Descripción" autocomplete="off"
                    ng-model="profesional.descripcionFra"></textarea>
      </accordion-group>
    </accordion>
    <label for="files">Imagen</label>
    <input type="file"
           file-input="files"
           class="margin"
           multiple
      />
    <li>{{ profesional.foto }}</li>
    </div>
    <button class="btn btn-default" ng-disabled="todoForm.$invalid" ng-click="editarProfesional()">Editar</button>
  </form>
