<p class="gestion-title">
  Editar noticia
</p>
<hr>
<form name="todoForm" novalidate>
  <div class="form-group" ng-class="{'has-error': todoForm.content.$invalid && todoForm.content.$dirty}">

    <accordion close-others="oneAtATime">
      <accordion-group heading="Español" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
        <input type="text" class="form-control focus" name="tituloEsp"
        placeholder="Titulo" autocomplete="off"
        ng-model="noticia.tituloEsp">
        <textarea ui-tinymce class="form-control focus" name="descripcionEsp"
        rows="4" cols="50"
        placeholder="Descripcion" autocomplete="off"
        ng-model="noticia.descripcionEsp"></textarea>
      </accordion-group>
      <accordion-group heading="Ingles">
        <input type="text" class="form-control focus" name="tituloIng"
        placeholder="Titulo" autocomplete="off"
        ng-model="noticia.tituloIng">
        <textarea ui-tinymce class="form-control focus" name="descripcionIng"
        rows="4" cols="50"
        placeholder="Descripcion" autocomplete="off"
        ng-model="noticia.descripcionIng"></textarea>
      </accordion-group>
      <accordion-group heading="Portugues">
        <input type="text" class="form-control focus" name="tituloPor"
        placeholder="Titulo" autocomplete="off"
        ng-model="noticia.tituloPor">
        <textarea ui-tinymce class="form-control focus" name="descripcionPor"
        rows="4" cols="50"
        placeholder="Descripcion" autocomplete="off"
        ng-model="noticia.descripcionPor"></textarea>
      </accordion-group>
      <accordion-group heading="Frances">
        <input type="text" class="form-control focus" name="tituloFra"
        placeholder="Titulo" autocomplete="off"
        ng-model="noticia.tituloFra">
        <textarea ui-tinymce class="form-control focus" name="descripcionFra"
        rows="4" cols="50"
        placeholder="Descripcion" autocomplete="off"
        ng-model="noticia.descripcionFra"></textarea>
      </accordion-group>
    </accordion>

    <button class="btn btn-default" ng-disabled="todoForm.$invalid" ng-click="editarNoticia()">Editar</button>
</form>
