<div class="w-section seccface" face>
    <div class="divbotonshare">
      <div class="w-embed embedfacebutton">
        <div class="fb-share-button" data-href="http://connections.webflow.com" data-layout="button"></div>
      </div>
      <div class="textshare">Compartir nuestro sitio web</div>
    </div>
    <a class="w-inline-block linkface" href=""><img class="botonface" src="images/botonface.png">
    </a>
    <div class="w-embed embedface">
      <div class="fb-page" data-href="https://www.facebook.com/connectionssi?fref=ts" data-width="350" data-height="500" data-hide-cover="true" data-show-facepile="true" data-show-posts="true">
        <div class="fb-xfbml-parse-ignore">
          <blockquote cite="https://www.facebook.com/connectionssi?fref=ts"><a href="https://www.facebook.com/connectionssi?fref=ts">Connections - Servicios Idiomáticos</a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="divcontienetodo">
    <div class="w-section seccheader">
      <div class="w-container cont1">
        <div class="w-nav barranav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
          <div class="w-container">
            <a class="w-inline-block linkbandera" href=""><img scale class="imgbanderafra" src="images/fr.png" id="fra" ng-click="traducir($event)">
            </a>
            <a class="w-inline-block linkbandera" href=""><img scale class="imgbanderabra" src="images/brasil.png" id="por" ng-click="traducir($event)">
            </a>
            <a class="w-inline-block linkbandera" href=""><img scale class="imgbanderausa" src="images/eeuu.png" id="usa" ng-click="traducir($event)">
            </a>
            <a class="w-inline-block linkbandera" href=""><img scale class="imgbanderaarg" src="images/ar.png"  id="esp" ng-click="traducir($event)">
            </a>
            <a class="w-nav-brand w-clearfix" href="#inicio"><img class="imglogo" src="images/logo.png" width="203">
            </a>
            <nav class="w-nav-menu navmenu" role="navigation">
              <a class="w-nav-link botonnav" ng-repeat="(key, val) in translated.navbar" href="{{ navigation[key] }}"> {{ val }} </a>
            </nav>
            <div class="w-nav-button menubuttonresp">
              <div class="w-icon-nav-menu"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divinicio" id="inicio"></div>
    <div class="w-section seccslider">
      <div class="w-slider" data-animation="slide" data-duration="1200" data-infinite="1" data-delay="4500" data-autoplay="1" data-hide-arrows="1">
        <div class="w-slider-mask">
          <div class="w-slide slide1">
            <div class="w-container">
              <h1>{{ translated.slider[0] }}</h1>
            </div>
          </div>
          <div class="w-slide slide2">
            <div class="w-container">
              <h1>{{ translated.slider[1] }}</h1>
            </div>
          </div>
          <div class="w-slide slide3">
            <div class="w-container">
              <h1>{{ translated.slider[2] }}</h1>
            </div>
          </div>
          <div class="w-slide slide4">
            <div class="w-container">
              <h1>{{ translated.slider[3] }}</h1>
              <div></div>
            </div>
          </div>
          <div class="w-slide slide6">
            <div class="w-container">
              <h1>{{ translated.slider[4] }}</h1>
            </div>
          </div>
          <div class="w-slide slide5">
            <div class="w-container contslid">
              <a class="w-inline-block linkslider" href="#noticias">
                <div style="width: 100%; height: 100%;"></div>
              </a>
            </div>
          </div>
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-shadow slidenav"></div>
      </div>
    </div>
    <div class="w-section secctelef">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-2 col1links">
            <a class="w-inline-block linkpubli" href="http://www.rosariobureau.com.ar/" target="_blank"><img opacity class="imglogopubli" src="images/RosarioBureaupng.png">
            </a>
          </div>
          <div class="w-col w-col-2">
            <a class="w-inline-block linkpubli" href="http://www.mainini.com" target="_blank"><img opacity class="imglogopubli" src="images/logoMainPost.png">
            </a>
          </div>
          <div class="w-col w-col-2">
            <a class="w-inline-block linkpubli" href="http://www.angliaexams.com" target="_blank"><img opacity class="imglogopubli" src="images/anglia.jpg">
            </a>
          </div>
          <div class="w-col w-col-2">
            <a class="w-inline-block linkpubli" href="http://www.torredepapel.com.ar" target="_blank"><img opacity class="imglogopubli" src="images/Torre de Papel.png">
            </a>
          </div>
          <div class="w-col w-col-2">
            <a class="w-inline-block linkpubli" href="http://www.sdl.com" target="_blank"><img opacity class="imglogopubli" src="images/sdloficial.png">
            </a>
          </div>
          <div class="w-col w-col-2"></div>
        </div>
      </div>
    </div>
    <div class="w-section secc2">
      <div class="w-container contserv">
        <div class="w-row">
          <div class="w-col w-col-3" ng-repeat="s in translated.servicios">
            <a class="w-inline-block linkinicio" href="#servicios"><img class="imgicono" src="{{ s.imagen }}" width="186">
              <h3 class="titserv">{{ s.titulo }}</h3>
              <ul class="w-list-unstyled lista">
                <li ng-repeat="item in s.description" compile="{{ item }}">

                </li>
                <li ng-repeat="item in s.meta" compile="{{item}}" style="margin-left: 5px; color:grey;"></li>
              </ul>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="divnosotros" id="nosotros">
      <div class="w-section seccnos">
        <div class="divsecciones">
          <div class="w-container contdicsecciones">
            <h2 class="secciones">{{ translated.nosotros.titulo }}</h2>
          </div>
        </div>
        <div class="w-container contnos">
          <p class="titnos" ng-repeat="d in translated.nosotros.descripcion"> {{ d.titulo }}
            <br><span class="custom-font">
              {{ d.descripcion }}
            </span>
          </p>

          <div class="w-row rownos" ng-repeat="p in profesionales">
            <div class="w-col w-col-3"><img class="imgnos" src="storage/images/{{ p.foto }}">
              <p class="nos">
                {{ p.nombre }}
                <span ng-show="lenguaje == 'esp'">
                  {{ p.tituloEsp }}
                </span>
                <span ng-show="lenguaje == 'usa'">
                  {{ p.tituloIng }}
                </span>
                <span ng-show="lenguaje == 'fra'">
                  {{ p.tituloFra }}
                </span>
                <span ng-show="lenguaje == 'por'">
                  {{ p.tituloPor }}
                </span>
              </p>

            </div>
            <div class="w-col w-col-9">
              <p compile="{{ p.descripcionEsp }}" class="textnos" ng-if="lenguaje == 'esp'">
              </p>
              <p compile="{{ p.descripcionIng }}" class="textnos" ng-if="lenguaje == 'usa'">
              </p>
              <p compile="{{ p.descripcionFra }}" class="textnos" ng-if="lenguaje == 'fra'">
              </p>
              <p compile="{{ p.descripcionPor }}" class="textnos" ng-if="lenguaje == 'por'">
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="divservicios" id="servicios">
      <div class="w-section seccservi">
        <div class="divsecciones">
          <div class="w-container contdicsecciones">
            <h2 class="secciones">{{ translated.services.titulo }}</h2>
          </div>
        </div>
        <div class="w-container contservicios">
          <div class="w-tabs tabs" data-duration-in="300" data-duration-out="100">

            <div class="w-tab-menu tabsmenu">
              <a ng-repeat="(key, value) in translated.services.servicio"
                 class="w-tab-link w-inline-block tablink"
                 ng-class="{'w--current': tabSelected == key + 1}"
                 data-w-tab="Tab {{ key + 1 }}"
                 ng-click="updateState(key + 1)">
                <div class="texttabs">{{ value.titulo }}</div>
              </a>
            </div>

            <div class="w-tab-content tabscontent">
              <div class="w-tab-pane"
                   ng-repeat="(key, value) in translated.services.servicio"
                   ng-class="{'w--tab-active': tabSelected == key + 1}"
                   data-w-tab="Tab {{ key + 1 }}">
                <div ng-repeat="x in value.servicios">
                  <h4 style="color: white; font-size: 18px;" compile="{{ x.titulo }}">

                  </h4>
                  <p class="textservi" ng-repeat="y in x.servicios">
                    <span compile="{{ y.descripcion }}"></span> <br/>
                    <span style="padding-left: 15px" ng-repeat="a in y.areas">
                      {{ a }} <br/>
                    </span>
                    <img ng-if="y.meta" style="margin-left: 150px; margin-top: 20px;" src="{{ y.meta }}" alt=""/>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="divportfolio" id="portfolio">
      <div class="w-section seccportfolio">
        <div class="divsecciones">
          <div class="w-container contdicsecciones">
            <h2 class="secciones">{{ translated.portfolio.titulo }}</h2>
          </div>
        </div>
        <div class="w-container contport">
          <p class="portfolio" compile="{{ portfolio.descripcionEsp }}" ng-if="lenguaje == 'esp'"></p>
          <p class="portfolio" compile="{{ portfolio.descripcionIng }}" ng-if="lenguaje == 'usa'"></p>
          <p class="portfolio" compile="{{ portfolio.descripcionFra }}" ng-if="lenguaje == 'fra'"></p>
          <p class="portfolio" compile="{{ portfolio.descripcionPor }}" ng-if="lenguaje == 'por'"></p>
          <div class="divpublis">
            <div class="w-row rowpubli">
              <div class="w-col w-col-3"><img class="imgpublicidad" src="images/fric-rot2.png">
              </div>
              <div class="w-col w-col-3"><img class="imgpublicidad" src="images/tenneco2.png">
              </div>
              <div class="w-col w-col-3"><img class="imgpublicidad" src="images/cpm2.png">
              </div>
              <div class="w-col w-col-3"><img class="imgpublicidad" src="images/dascanio2.png">
              </div>
            </div>
          </div>
          <p class="portfolio" ng-repeat="s in translated.portfolio.fixed">
          {{ s.titulo }} <br/>
            {{ s.descripcion }}
          </p>
          <div class="pelnacext"> {{translated.portfolio.doblaje }}</div>
          <div class="w-row">
            <div class="w-col w-col-4">
              <div class="w-embed w-iframe">
                <iframe src="https://vid.me/e/sjbB" width="100%" height="auto" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" scrolling="no"></iframe>
              </div>
              <div class="titdoblaje">Ages of Love</div>
            </div>
            <div class="w-col w-col-4">
              <div class="w-embed w-iframe">
                <iframe src="https://vid.me/e/yeEb" width="100%" height="auto" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" scrolling="no"></iframe>
              </div>
              <div class="titdoblaje">Cloud Atlas</div>
            </div>
            <div class="w-col w-col-4">
              <div class="w-embed w-iframe">
                <iframe src="https://vid.me/e/aDO1" width="100%" height="auto" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" scrolling="no"></iframe>
              </div>
              <div class="titdoblaje">Death of a Superhero</div>
            </div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-4">
              <div class="w-embed w-iframe">
                <iframe src="https://vid.me/e/ufAj" width="100%" height="auto" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" scrolling="no"></iframe>
              </div>
              <div class="titdoblaje">Lions for Lambs</div>
            </div>
            <div class="w-col w-col-4">
              <div class="w-embed w-iframe">
                <iframe src="https://vid.me/e/6a9w" width="100%" height="auto" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" scrolling="no"></iframe>
              </div>
              <div class="titdoblaje">Shangai</div>
            </div>
            <div class="w-col w-col-4"></div>
          </div>
          <div class="pelnacext">{{ translated.portfolio.nacionales }}</div>
          <div class="w-row">
            <div class="w-col w-col-4 colpelisnac">
              <div class="w-embed w-iframe">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/bzO1wV1O3OU?rel=0&amp;controls=0" frameborder="0" allowfullscreen=""></iframe>
              </div>
            </div>
            <div class="w-col w-col-4 colpelisnac">
              <div class="w-embed w-iframe">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GrJEEPx5ec8?rel=0&amp;controls=0" frameborder="0" allowfullscreen=""></iframe>
              </div>
            </div>
            <div class="w-col w-col-4 colpelisnac">
              <div class="w-embed w-iframe">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/gmcy4YhuoVA?rel=0&amp;controls=0" frameborder="0" allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
          <div class="pelnacext">{{ translated.portfolio.extranjeras }}</div>
          <div class="w-slider slider2" data-animation="slide" data-duration="2600" data-infinite="1" data-nav-spacing="7" data-delay="7000" data-autoplay="1">
            <div class="w-slider-mask mask2">
              <div class="w-slide slide12">
                <div class="divslidpelis"><img class="imgpelis" src="images/spartacus-blood-and-sand-tv-movie-poster-1020546441.jpg">
                  <p class="titpeli">
                    <br>Spartacus: Blood and Sand (2010)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/uydzEEtZSMRUQPhqQQN8q6Zs7xk.jpg">
                  <p class="titpeli">
                    <br>
                    <br>Beyonce (2010)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga.jpg">
                  <p class="titpeli">
                    <br>Ninja Turtles (2007)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/Frost_nixon.jpg">
                  <p class="titpeli">
                    <br>Frost/Nixon Interview (2007)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (1).jpg">
                  <p class="titpeli">
                    <br>Man of the Year (2007)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (2).jpg">
                  <p class="titpeli">
                    <br>Peace One Day (2007)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/the-stepford-wives-poster.jpg">
                  <p class="titpeli">
                    <br>Stepford Wives (2006)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/2v2i6v7.jpg">
                  <p class="titpeli">
                    <br>
                    <br>Lassie (2005)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (3).jpg">
                  <p class="titpeli">
                    <br>Saint Ralph (2004)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/The_SpongeBob_Squarepants_Movie_poster_usa.jpg">
                  <p class="titpeli">
                    <br>Sponge Bob (2004)</p>
                </div>
              </div>
              <div class="w-slide">
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (4).jpg">
                  <p class="titpeli">
                    <br>A million to Juan (2003)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/The-Muppets2011.jpg">
                  <p class="titpeli">
                    <br>The Muppets (2003)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (5).jpg">
                  <p class="titpeli">
                    <br>Degrassi: The Next Generation (2001)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/51VH5ZZE4CL._SS500_.jpg">
                  <p class="titpeli">
                    <br>
                    <br>Judas (2001)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (6).jpg">
                  <p class="titpeli">
                    <br>The Contract (1998)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/0052848566da2471acbd052d4f3feaf9.jpg">
                  <p class="titpeli">Life and Death of Princess Diana
                    <br>(1998)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/MV5BMTU1ODAzODc0M15BMl5BanBnXkFtZTcwNTk1MDcyMQ@@._V1_SY317_CR9,0,214,317_AL_.jpg">
                  <p class="titpeli">
                    <br>
                    <br>Avalanche (1996)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/tumblr_mvbsf8sz5q1qg8i80o2_1280.jpg">
                  <p class="titpeli">
                    <br>Tales from the Crypt (1996)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/movieposter.jpg">
                  <p class="titpeli">
                    <br>An American President (1995)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/220px-Hindenburg_(1975).jpg">
                  <p class="titpeli">
                    <br>The Hindenburg (1976)</p>
                </div>
              </div>
            </div>
            <div class="w-slider-arrow-left larrow">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right rarrow">
              <div class="w-icon-slider-right earrowicon"></div>
            </div>
            <div class="w-slider-nav w-slider-nav-invert w-shadow sidenavpelis"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="divnoticias" id="noticias">
      <div class="w-section seccnoti">
        <div class="divsecciones">
          <div class="w-container contdicsecciones">
            <h2 class="secciones"> {{ translated.noticias.titulo }}</h2>
          </div>
        </div>
        <div class="w-container contnoti" ng-repeat="n in noticias">
          <div class="w-row rownoti">
            <div class="w-col w-col-4"><img class="imgnoti" src="storage/images/{{n.imagen}}">
            </div>
            <div class="w-col w-col-8">
              <h2 style="color:white; font-size: 21px;" ng-show="lenguaje == 'esp'">{{ n.tituloEsp }}</h2>
              <h2 style="color:white; font-size: 21px;" ng-show="lenguaje == 'ing'">{{ n.tituloIng }}</h2>
              <h2 style="color:white; font-size: 21px;" ng-show="lenguaje == 'fra'">{{ n.tituloFra }}</h2>
              <h2 style="color:white; font-size: 21px;" ng-show="lenguaje == 'por'">{{ n.tituloPor }}</h2>
              <p class="textnoti" compile="{{ n.descripcionEsp }}" ng-show="lenguaje == 'esp'"></p>
              <p class="textnoti" compile="{{ n.descripcionIng }}" ng-show="lenguaje == 'usa'"></p>
              <p class="textnoti" compile="{{ n.descripcionFra }}" ng-show="lenguaje == 'fra'"></p>
              <p class="textnoti" compile="{{ n.descripcionPor }}" ng-show="lenguaje == 'por'"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divcontacto" id="contacto">
      <div class="w-section secccontacto">
        <div class="divsecciones">
          <div class="w-container contdicsecciones">
            <h2 class="secciones"> {{ translated.contacto.titulo }}</h2>
          </div>
        </div>
        <div class="w-container contctacto">
          <div class="w-row">
            <div class="w-col w-col-6 colctacto1">
              <div class="textmsje">{{ translated.contacto.descripcion }}</div>
              <div class="w-form formwrapper">
                <form name="email-form" data-name="Email Form">
                  <input class="w-input textfield" id="Nombre" type="text" placeholder={{translated.contacto.formulario.nombre}} name="Nombre" data-name="Nombre" required="required">
                  <input class="w-input textfield" id="email" type="email" placeholder="{{ translated.contacto.formulario.correo }}" name="email" data-name="Email" required="required">
                  <input class="w-input textfield" id="Tel-fono" type="text" placeholder="{{ translated.contacto.formulario.telefono }}" name="Tel-fono" required="required" data-name="Teléfono">
                  <textarea class="w-input textfield" id="Comentario-Consulta" placeholder="{{ translated.contacto.formulario.consulta }}" name="Comentario-Consulta" required="required" data-name="Comentario/Consulta"></textarea>
                  <input class="w-button submitboton" type="submit" value="{{ translated.contacto.formulario.enviar }}" data-wait="Por favor, espere mientras se envía su consulta." wait="Por favor, espere mientras se envía su consulta.">
                </form>
                <div class="w-form-done">
                  <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                  <p>Oops! Something went wrong while submitting the form :(</p>
                </div>
              </div>
            </div>
            <div class="w-col w-col-6 colctacto2">
              <div class="textctacto">+54-341-4497115</div><a class="linkctacto" href="mailto:gracielacuello@connections-si.com">contact@connections-si.com</a>
              <div class="textctacto">Rosario&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Argentina</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divcontienefooter">
    <div class="w-section seccfooter">
      <div class="w-container">
        <div class="textfooter" ng-click="adminPanel()">Connections Servicios Idiomáticos®&nbsp;&nbsp;|&nbsp;&nbsp;2015&nbsp;&nbsp;|&nbsp;&nbsp;{{translated.derechos}}</div>
      </div>
    </div>
  </div>
