<div class="w-section seccface" data-ix="facebook">
    <div class="divbotonshare">
      <div class="w-embed embedfacebutton">
        <div class="fb-share-button" data-href="http://connections.webflow.com" data-layout="button"></div>
      </div>
      <div class="textshare">Compartir nuestro sitio web</div>
    </div>
    <a class="w-inline-block linkface" href="#"><img class="botonface" src="images/botonface.png">
    </a>
    <div class="w-embed embedface">
      <div class="fb-page" data-href="https://www.facebook.com/connectionssi?fref=ts" data-width="350" data-height="500" data-hide-cover="true" data-show-facepile="true" data-show-posts="true">
        <div class="fb-xfbml-parse-ignore">
          <blockquote cite="https://www.facebook.com/connectionssi?fref=ts"><a href="https://www.facebook.com/connectionssi?fref=ts">Connections - Servicios Idiomáticos</a>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="divcontienetodo">
    <div class="w-section seccheader">
      <div class="w-container cont1">
        <div class="w-nav barranav" data-collapse="medium" data-animation="default" data-duration="400" data-contain="1">
          <div class="w-container">
            <a class="w-inline-block linkbandera" href="#"><img class="imgbanderafra" src="images/fr.png" data-ix="banderafra" id="fra" ng-click="traducir($event)">
            </a>
            <a class="w-inline-block linkbandera" href="#" ><img class="imgbanderabra" src="images/brasil.png" data-ix="banderabra" id="por" ng-click="traducir($event)">
            </a>
            <a class="w-inline-block linkbandera" href="#" ><img class="imgbanderausa" src="images/eeuu.png" id="usa" data-ix="banderausa" id="usa" ng-click="traducir($event)">
            </a>
            <a class="w-inline-block linkbandera" href="#"><img class="imgbanderaarg" src="images/ar.png" id="esp" data-ix="banderaarg" ng-click="traducir($event)">
            </a>
            <a class="w-nav-brand w-clearfix" href="#inicio"><img class="imglogo" src="images/logo.png" width="203">
            </a>
            <nav class="w-nav-menu navmenu" role="navigation"><a class="w-nav-link botonnav" href="#inicio">inicio</a><a class="w-nav-link botonnav" href="#NOSOTROS">Nosotros</a><a class="w-nav-link botonnav" href="#SERVICIOS" ng-if="lenguaje=='Español'">Servicios</a><a class="w-nav-link botonnav" href="#PORTFOLIO">Portfolio</a><a class="w-nav-link botonnav" href="#NOTICIAS">Noticias y eventos</a><a class="w-nav-link botonnav" href="#CONTACTO">Contáctenos</a>
            </nav>
            <div class="w-nav-button menubuttonresp">
              <div class="w-icon-nav-menu"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divinicio" id="inicio"></div>
    <div class="w-section seccslider">
      <div class="w-slider" data-animation="slide" data-duration="1200" data-infinite="1" data-delay="4500" data-autoplay="1" data-hide-arrows="1">
        <div class="w-slider-mask">
          <div class="w-slide slider slide1">
            <div class="w-container">
              <h1>{{ translated.slider[0] }}</h1>
            </div>
          </div>
          <div class="w-slide slide2">
            <div class="w-container">
              <h1>closed captioning</h1>
            </div>
          </div>
          <div class="w-slide slide3">
            <div class="w-container">
              <h1>Traducción</h1>
            </div>
          </div>
          <div class="w-slide slide4">
            <div class="w-container">
              <h1>Subtitulado</h1>
              <div></div>
            </div>
          </div>
          <div class="w-slide slide6">
            <div class="w-container">
              <h1>DOBLAJE</h1>
            </div>
          </div>
          <div class="w-slide slide5">
            <div class="w-container contslid">
              <a class="w-inline-block linkslider" href="#NOTICIAS">
                <p class="parraslider">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p><img class="imgnotislid" src="images/barcampba.jpg" width="521">
              </a>
            </div>
          </div>
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-shadow slidenav"></div>
      </div>
    </div>
    <div class="w-section secctelef">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-2 col1links">
            <a class="w-inline-block linkpubli" href="http://www.rosariobureau.com.ar/" target="_blank"><img class="imglogopubli" src="images/RosarioBureaupng.png" data-ix="new-interaction-2">
            </a>
          </div>
          <div class="w-col w-col-2">
            <a class="w-inline-block linkpubli" href="http://www.mainini.com" target="_blank"><img class="imglogopubli" src="images/logoMainPost.png" data-ix="new-interaction-2">
            </a>
          </div>
          <div class="w-col w-col-2">
            <a class="w-inline-block linkpubli" href="http://www.angliaexams.com" target="_blank"><img class="imglogopubli" src="images/anglia.jpg" data-ix="new-interaction-2">
            </a>
          </div>
          <div class="w-col w-col-2">
            <a class="w-inline-block linkpubli" href="http://www.torredepapel.com.ar" target="_blank"><img class="imglogopubli" src="images/Torre de Papel.png" data-ix="new-interaction-2">
            </a>
          </div>
          <div class="w-col w-col-2">
            <a class="w-inline-block linkpubli" href="http://www.sdl.com" target="_blank"><img class="imglogopubli" src="images/sdloficial.png" data-ix="new-interaction-2">
            </a>
          </div>
          <div class="w-col w-col-2"></div>
        </div>
      </div>
    </div>
    <div class="w-section secc2">
      <div class="w-container contserv">
        <div class="w-row">

          <div class="w-col w-col-3" ng-repeat="s in translated.servicios">
            <a class="w-inline-block linkinicio" href="#SERVICIOS"><img class="imgicono" src="{{ s.imagen }}" width="186">
              <h3 class="titserv">{{ s.titulo }}</h3>
              <ul class="w-list-unstyled lista">
                <li ng-repeat="item in s.description">
                  {{ item }}
                </li>
              </ul>
            </a>
          </div>

        </div>
      </div>
    </div>
    <div class="divnosotros" id="NOSOTROS">
      <div class="w-section seccnos" id="nosotros">
        <div class="divsecciones">
          <div class="w-container contdicsecciones">
            <h2 class="secciones">Nosotros</h2>
          </div>
        </div>
        <div class="w-container contnos">
          <p class="titnos"><a>Especialización</a>
            <br>Nuestros profesionales se capacitan constantemente en:Traducción, Subtitulado y subtitulado oculto, Interpretación, Auditoría lingüística en empresas.</p>

          <div class="w-row rownos" ng-repeat="p in profesionales">
            <div class="w-col w-col-3"><img class="imgnos" src="storage/images/{{ p.foto }}">
              <p class="nos">
                 {{ p.nombre }}
                 <span ng-show="lenguaje == 'esp'">
                   {{ p.tituloEsp }}
                 </span>
                 <span ng-show="lenguaje == 'usa'">
                   {{ p.tituloIng }}
                 </span>
              </p>

            </div>
            <div class="w-col w-col-9">
              <p class="textnos" ng-show="lenguaje == 'esp'">
                {{ p.descripcionEsp }}
              </p>
              <p class="textnos" ng-show="lenguaje == 'usa'">
                {{ p.descripcionIng }}
              </p>
            </div>
          </div>

        </div> <!-- end container -->
      </div>
    </div>
    
    <div class="divservicios" id="SERVICIOS">
      <div class="w-section seccservi" id="servicios">
        <div class="divsecciones">
          <div class="w-container contdicsecciones">
            <h2 class="secciones">Servicios</h2>
          </div>
        </div>
        <div class="w-container contservicios">
          <div class="w-tabs tabs" data-duration-in="300" data-duration-out="100">
            <div class="w-tab-menu tabsmenu">
              <a class="w-tab-link w-inline-block tablink" data-w-tab="Tab 1">
                <div class="texttabs">Traducción técnica</div>
              </a>
              <a class="w-tab-link w-inline-block tablink" data-w-tab="Tab 2">
                <div class="texttabs">traducción audiovisual</div>
              </a>
              <a class="w-tab-link w--current w-inline-block tablink" data-w-tab="Tab 3">
                <div class="texttabs">Auditoría lingüÍstica</div>
              </a>
              <a class="w-tab-link w-inline-block tablink" data-w-tab="Tab 4">
                <div class="texttabs">Interpretación</div>
              </a>
            </div>
            <div class="w-tab-content tabscontent">
              <div class="w-tab-pane" data-w-tab="Tab 1">
                <p class="textservi">Traducciones jurídicas
                  <br>
                  <br>Traducciones jurídicas del y al inglés.
                  <br>
                  <br>Documentos jurídicos personales: partidas de nacimiento, actas de matrimonio, certificados de defunción, matrimonio y divorcio. Pasaportes y demás documentos personales. Programas de estudio, certificados analíticos, diplomas.
                  <br>Derecho administrativo, derecho laboral, derecho procesal, civil y procesal penal, derecho de familia.&nbsp;
                  <br>Capacitación y formación constante en el ámbito privado, universidades y Colegios de Traductores de todo el país.
                  <br>
                  <br>Economía y finanzas
                  <br>
                  <br>Traducción de memoria y balance de las principales compañías del país, del y al inglés.
                  <br>
                  <br>Traducción de informes contables.
                  <br>
                  <br>Herramientas de traducción y glosarios para brindar un producto final preciso y confiable.
                  <br>
                  <br>Industria
                  <br>
                  <br>Traducción de documentos y manuales en las siguientes áreas:
                  <br>
                  <br>Agricultura
                  <br>Agronegocios
                  <br>Mecánica
                  <br>Procesos de soja
                  <br>Maquinarias
                  <br>Energías sustentables</p>
              </div>
              <div class="w-tab-pane" data-w-tab="Tab 2">
                <p class="textservi">Subtitulado y Closed Captioning&nbsp;
                  <br>
                  <br>El subtitulado es un proceso minucioso que comprende:
                  <br>El análisis del material y la preparación para la inserción de subtítulos.
                  <br>La traducción del texto sobre el guión y la imagen.&nbsp;
                  <br>El empleo de opciones lingüísticas accesibles para los espectadores de todas las regiones donde se proyectará la película.
                  <br>La edición de los subtítulos de modo que sean lingüísticamente correctos y respeten las restricciones de espacio y tiempo que impone la proyección en pantalla.
                  <br>Una exhaustiva revisión final de la sincronización de subtítulo e imagen.&nbsp;
                  <br>
                  <br>
                  <br>En closed captioning, son necesarios el análisis y la adaptación de los contenidos audiovisuales para hacerlos accesibles en salas de cine, festivales, televisión pública y privada, DVD, y para personas con dificultades de audición y capacidades diferentes.&nbsp;
                  <br>La técnica de closed captioning involucra también descripciones de efectos de sonido, el tono de la voz o la manera de hablar.&nbsp;
                  <br>
                  <br>Transcripción de audio
                  <br>
                  <br>Conversión en texto escrito de cualquier tipo de documento de audio o video, como discursos, conferencias, debates, entrevistas y sesiones de capacitación.
                  <br>Desgrabación de audio a texto de películas y documentales.
                  <br>
                  <br>Doblaje
                  <br>
                  <br>Con su empresa partner MainPost, se ofrece traducción para doblaje, revisión y control de calidad de programación para cine y televisión.</p>
              </div>
              <div class="w-tab-pane w--tab-active" data-w-tab="Tab 3">
                <p class="textservi">Auditoría lingüística
                  <br>
                  <br>Servicio de auditoría
                  <br>
                  <br>La auditoría lingüística es un servicio imprescindible tanto como herramienta de evaluación ante un proceso de selección, como herramienta de evaluación para desarrollar un plan de capacitación en una lengua extranjera.
                  <br>La auditoría se realiza en cada una de las competencias (capacidad de hablar, leer, escuchar y escribir) del idioma objeto de evaluación.
                  <br>Se evalúan los conocimientos del participante, las destrezas lingüísticas necesarias para el desarrollo del puesto, y la capacidad de la persona para enfrentar situaciones de comunicación.
                  <br>
                  <br>Beneficios
                  <br>
                  <br>La instrumentación se basa en parámetros simples, claros y fácilmente medibles.
                  <br>Se realizan informes con parámetros acordados con la compañía solicitante.
                  <br>Le ayudamos a detectar las debilidades y fortalezas del participante como parte del proceso de selección y evaluación.
                  <br>
                  <br>Nuestro proceso de trabajo
                  <br>
                  <br>1-Parámetros de evaluación sencillos, claros y precisos que permiten conocer la operatividad laboral del participante &nbsp;&nbsp;mediante:
                  <br>
                  <br>&nbsp;&nbsp;El nivel de competencia lingüística del participante;
                  <br>&nbsp;&nbsp;El estilo de aprendizaje e inteligencias múltiples que el participante manifiesta;
                  <br>&nbsp;&nbsp;La descripción de objetivos;
                  <br>&nbsp;&nbsp;Los contenidos gramaticales.
                  <br>
                  <br>2-Control de asistencia. Comunicación constante entre la compañía, el alumno y nosotros.
                  <br>
                  <br>3-El participante es una figura activa en el aprendizaje.
                  <br>
                  <br>&nbsp;&nbsp;El programa se adapta al ritmo de aprendizaje del alumno, no al revés.
                  <br>&nbsp;&nbsp;El horario y la frecuencia de clases que necesita el alumno se fijan en función de la necesidad de la empresa y la posibilidad &nbsp;&nbsp;real del participante.
                  <br>
                  <br>4-Encuestas de satisfacción. Permiten detectar si el programa se cumple exitosamente.
                  <br>
                  <br>5-Ajustes
                  <br>&nbsp;&nbsp;Se realizan permanentes registros y análisis del material utilizado. Estos permiten realizar ajustes en los contenidos y &nbsp;&nbsp;evaluación.
                  <br>
                  <br>Capacitación en empresas de inglés y portugués
                  <br>Inglés específico y general, con opción a rendir exámenes internacionales</p>
                <div class="divimgserv"></div>
              </div>
              <div class="w-tab-pane" data-w-tab="Tab 4">
                <p class="textservi">Modalidades
                  <br>
                  <br>Ofrecemos servicios de interpretación en la modalidad consecutiva y simultánea.
                  <br>En la interpretación consecutiva, el intérprete toma notas mientras el orador pronuncia un discurso. Durante el discurso, el orador puede hacer pausas frecuentes para que el intérprete pueda reproducirlo en el idioma destino.
                  <br>
                  <br>En la interpretación simultánea, el intérprete traduce oralmente (interpreta) inmediatamente el discurso del orador, usualmente en cabina, o bien mediante susurro.
                  <br>
                  <br>Interpretaciones en ámbitos sociales, comerciales y académicos.
                  <br>Experiencia&nbsp;
                  <br>Ronda de negocios
                  <br>Ferias y exposiciones comerciales
                  <br>Conferencias
                  <br>Cursos
                  <br>Visitas a plantas
                  <br>Turismo
                  <br>
                  <br>Nuestros intérpretes se especializan en diversas áreas. Contamos con un equipo local y también con profesionales dispuestos a prestar servicios en el exterior.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divportfolio" id="PORTFOLIO">
      <div class="w-section seccportfolio">
        <div class="divsecciones">
          <div class="w-container contdicsecciones">
            <h2 class="secciones">Portfolio</h2>
          </div>
        </div>
        <div class="w-container contport">
          <p class="portfolio">Estos son los clientes con los que Connections ha trabajado hasta el momento:
            <br>TRADUCCIÓN
            <br>
            <br>&nbsp;&nbsp;Área jurídica
            <br>&nbsp;&nbsp;&nbsp;&nbsp;FOUNDCHILD
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Fundación Niños Unidos para el Mundo
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Traducción de documentación en casos de restitución internacional de menores.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;MM&amp;G abogados
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Traducciones jurídicas de documentación, fusiones y adquisiciones de empresas.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;CPM Argentina
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Traducción de documentación legal y financiera.
            <br>
            <br>&nbsp;&nbsp;Economía y finanzas
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Industrias Juan F. Secco S.A.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Traducción de balances y documentos.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Aguas Provinciales de Santa Fe, Argentina
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Traducción de informe anual para el Banco Mundial.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Interpretación ante la IFC (International Finance Corporation).
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Hillsborough County, Florida, EE. UU.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procedimientos electorales en el estado de Florida. Revisión y edición de información electoral para los votantes, y todo lo &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;concerniente a partidos políticos y candidatos para las elecciones presidenciales.
            <br>
            <br>&nbsp;&nbsp;Industria
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Pecom Agra, Argentina
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Capacitación in-company. Proyecto de 4 años hasta lograr que el personal fuera lingüísticamente independiente.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Crown Iron Works Company, MN, EE. UU.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Interpretación y traducción en planta.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Curran International, TX, EE. UU.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Interpretación en tareas de reparación de equipos.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Sisgra S.R.L.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Traducción de sitio Web y productos de agronegocios.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Abelardo Cuffia S.A.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Traducción de monitores de siembra.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Fric Rot S.A.I.C.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Traducción y auditoría lingüística.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Industrias D’Ascanio S.R.L.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Traducción de material para ferias y exposiciones.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Wiseros
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Traducción para Taller Ecologista sobre energías sustentables.
            <br>
            <br>AUDITORÍA Y CAPACITACIÓN
            <br>&nbsp;&nbsp;Auditoría lingüística y capacitación en idiomas.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Fric Rot S.A.I.C.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Walker
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Coca-Cola - Rosario (servicio tercerizado de SET Idiomas)
            <br>&nbsp;&nbsp;&nbsp;&nbsp;LDC Argentina
            <br>
            <br>INTERPRETACIÓN
            <br>&nbsp;&nbsp;Crown iron Works Company
            <br>&nbsp;&nbsp;Frimetal
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Servicios de interpretación para los ingenieros de proyecto en plantas industriales de Argentina.
            <br>&nbsp;&nbsp;Ortiz Fischer
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Seminario sobre izaje con interpretación consecutiva.
            <br>&nbsp;&nbsp;Foro de la UNESCO Conferencia en Rosario a cargo de Christer Lidzélius; Director de KaosPilot International. Modalidad: &nbsp;&nbsp;&nbsp;&nbsp;Interpretación consecutiva.
            <br>&nbsp;&nbsp;Fulbright institute Seminario Internacional a cargo del historiador Randall Bennett Woods, Ph.D. “Estados Unidos en el Mundo &nbsp;&nbsp;&nbsp;&nbsp;Actual”. Modalidad: Interpretación simultánea en cabina.
            <br>&nbsp;&nbsp;FEDERACIÓN AGRARIA ARGENTINA Conferencia a cargo de representantes de los Grupos Aveve y Boerenbond. Modalidad: &nbsp;&nbsp;&nbsp;&nbsp;consecutiva.
            <br>&nbsp;&nbsp;Superbilliards Expo, Filadelfia, EE. UU. Modalidad: ronda de negocios.
            <br>&nbsp;&nbsp;Presentación del libro best-seller de Wilbur Smith, The Quest.
            <br>&nbsp;&nbsp;Ronda de negocios y visitas a AAPRESID, Bolsa de Comercio de Rosario, ACSOJA.
            <br>&nbsp;&nbsp;Ronda de negocios. Sr. B. V. Mehta, Director Ejecutivo de The Solvent Extractors’ Association of India.
            <br>&nbsp;&nbsp;Seminarios sobre Finanzas e Hipotecas dictados por el Sr. Sidney Rosenberg, Profesor de la Universidad de Florida, Universidad &nbsp;&nbsp;&nbsp;&nbsp;Austral. Modalidad: simultánea.
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Seminario sobre Economía global y cultura a cargo de la Dra. Gordana Pesakovic, Universidad Austral, Modalidad: simultánea.
            <br>&nbsp;&nbsp;Inauguración de planta de biodiesel en San Lorenzo. Modalidad simultánea.
            <br>&nbsp;&nbsp;Interpretación en planta de paneles de fibra de madera, Villa Guillermina. Modalidad: consecutiva.
            <br>&nbsp;&nbsp;Conferencia sobre el Manifiesto Comunista, a cargo del Profesor Werner Bonefeld, Unnoba, Pergamino. Modalidad. Consecutiva.
            <br>&nbsp;&nbsp;Seminario sobre Farm Bill, a cargo del Profesor Allan Gray, Universidad Austral. Modalidad: simultánea.
            <br>&nbsp;&nbsp;Primer y Segundo Congreso Internacional de Optometría.&nbsp;Modalidad: simultánea, consecutiva y mesas de trabajo.
            <br>&nbsp;&nbsp;Conferencia “SymbioCity y Transporte Urbano Sostenible”, a cargo del Dr. Hans G. Lundberg, organizada por la Embajada de &nbsp;&nbsp;&nbsp;&nbsp;Suecia y la Facultad de Ciencias Exactas, Ingeniería y Agrimensura. Modalidad: consecutiva, 3 horas reloj.
            <br>&nbsp;&nbsp;Immaculée Iligabiza, intérpretes Francesca Calvo Di Marco y María Célica Tripicchio. Presentación de su libro Sobrevivir para &nbsp;&nbsp;&nbsp;&nbsp;contarlo, editorial Logos.
            <br>&nbsp;&nbsp;David Brazier – counseling
            <br>&nbsp;&nbsp;&nbsp;&nbsp;Congreso Internacional de Metabolómica</p>
          <div class="divpublis">
            <div class="w-row rowpubli">
              <div class="w-col w-col-3"><img class="imgpublicidad" src="images/fric-rot2.png">
              </div>
              <div class="w-col w-col-3"><img class="imgpublicidad" src="images/tenneco2.png">
              </div>
              <div class="w-col w-col-3"><img class="imgpublicidad" src="images/cpm2.png">
              </div>
              <div class="w-col w-col-3"><img class="imgpublicidad" src="images/dascanio2.png">
              </div>
            </div>
          </div>
          <p class="portfolio">SUBTITULADO OCULTO
            <br>&nbsp;&nbsp;Transcripción para sordos para empresas de Europa y de los EE. UU. Servicios tercerizados a Televisa, Caracol, MTV, entre otros.
            <br>
            <br>TRADUCCIÓN AUDIOVISUAL PARA SUBTITULADO
            <br>&nbsp;&nbsp;Connections mantiene una alianza estratégica con la empresa de subtitulado MainPost, con más de 800 películas &nbsp;&nbsp;subtituladas&nbsp;&nbsp;&nbsp;para Latin America Pay Television Service (LAPTV), cuya programación se transmite a través de los canales Movie &nbsp;&nbsp;City™,&nbsp;&nbsp;&nbsp;Cinecanal™, Citystars™, Cityvibe™, Citymix™, Cityfamily™ y The Film Zone™.</p>
          <p class="portfolio">DOBLAJE
            <br>&nbsp;&nbsp;Con su empresa partner MainPost, se ofrece traducción para doblaje, revisión y control de calidad de programación para cine y &nbsp;&nbsp;televisión.</p>
          <div class="pelnacext">Doblaje películas extranjeras</div>
          <div class="w-row">
            <div class="w-col w-col-4">
              <div class="w-embed w-iframe">
                <iframe src="https://vid.me/e/sjbB" width="100%" height="auto" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" scrolling="no"></iframe>
              </div>
              <div class="titdoblaje">Ages of love</div>
            </div>
            <div class="w-col w-col-4">
              <div class="w-embed w-iframe">
                <iframe src="https://vid.me/e/yeEb" width="100%" height="auto" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" scrolling="no"></iframe>
              </div>
              <div class="titdoblaje">Cloud atlas</div>
            </div>
            <div class="w-col w-col-4">
              <div class="w-embed w-iframe">
                <iframe src="https://vid.me/e/aDO1" width="100%" height="auto" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" scrolling="no"></iframe>
              </div>
              <div class="titdoblaje">Death of a superhero</div>
            </div>
          </div>
          <div class="w-row">
            <div class="w-col w-col-4">
              <div class="w-embed w-iframe">
                <iframe src="https://vid.me/e/ufAj" width="100%" height="auto" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" scrolling="no"></iframe>
              </div>
              <div class="titdoblaje">Lions for lambs</div>
            </div>
            <div class="w-col w-col-4">
              <div class="w-embed w-iframe">
                <iframe src="https://vid.me/e/6a9w" width="100%" height="auto" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" scrolling="no"></iframe>
              </div>
              <div class="titdoblaje">Shangai</div>
            </div>
            <div class="w-col w-col-4"></div>
          </div>
          <div class="pelnacext">Películas nacionales</div>
          <div class="w-row">
            <div class="w-col w-col-4 colpelisnac">
              <div class="w-embed w-iframe">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/bzO1wV1O3OU?rel=0&amp;controls=0" frameborder="0" allowfullscreen=""></iframe>
              </div>
            </div>
            <div class="w-col w-col-4 colpelisnac">
              <div class="w-embed w-iframe">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/GrJEEPx5ec8?rel=0&amp;controls=0" frameborder="0" allowfullscreen=""></iframe>
              </div>
            </div>
            <div class="w-col w-col-4 colpelisnac">
              <div class="w-embed w-iframe">
                <iframe width="100%" height="auto" src="https://www.youtube.com/embed/gmcy4YhuoVA?rel=0&amp;controls=0" frameborder="0" allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
          <div class="pelnacext">Películas extranjeras</div>
          <div class="w-slider sliderpelis" data-animation="slide" data-duration="2600" data-delay="7000" data-autoplay="1" data-infinite="1">
            <div class="w-slider-mask">
              <div class="w-slide slide1pelis">
                <div class="divslidpelis"><img class="imgpelis" src="images/spartacus-blood-and-sand-tv-movie-poster-1020546441.jpg">
                  <p class="titpeli">
                    <br>Spartacus: Blood and Sand (2010)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/uydzEEtZSMRUQPhqQQN8q6Zs7xk.jpg">
                  <p class="titpeli">
                    <br>
                    <br>Beyonce (2010)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga.jpg">
                  <p class="titpeli">
                    <br>Ninja Turtles (2007)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/Frost_nixon.jpg">
                  <p class="titpeli">
                    <br>Frost/Nixon Interview (2007)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (1).jpg">
                  <p class="titpeli">
                    <br>Man of the Year (2007)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (2).jpg">
                  <p class="titpeli">
                    <br>Peace One Day (2007)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/the-stepford-wives-poster.jpg">
                  <p class="titpeli">
                    <br>Stepford Wives (2006)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/2v2i6v7.jpg">
                  <p class="titpeli">
                    <br>
                    <br>Lassie (2005)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (3).jpg">
                  <p class="titpeli">
                    <br>Saint Ralph (2004)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/The_SpongeBob_Squarepants_Movie_poster_usa.jpg">
                  <p class="titpeli">
                    <br>Sponge Bob (2004)</p>
                </div>
              </div>
              <div class="w-slide slide2pelis">
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (4).jpg">
                  <p class="titpeli">
                    <br>A million to Juan (2003)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/The-Muppets2011.jpg">
                  <p class="titpeli">
                    <br>The Muppets (2003)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (5).jpg">
                  <p class="titpeli">
                    <br>Degrassi: The Next Generation (2001)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/51VH5ZZE4CL._SS500_.jpg">
                  <p class="titpeli">
                    <br>
                    <br>Judas (2001)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (6).jpg">
                  <p class="titpeli">
                    <br>The Contract (1998)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/0052848566da2471acbd052d4f3feaf9.jpg">
                  <p class="titpeli">Life and Death of Princess Diana
                    <br>(1998)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/MV5BMTU1ODAzODc0M15BMl5BanBnXkFtZTcwNTk1MDcyMQ@@._V1_SY317_CR9,0,214,317_AL_.jpg">
                  <p class="titpeli">
                    <br>
                    <br>Avalanche (1996)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/tumblr_mvbsf8sz5q1qg8i80o2_1280.jpg">
                  <p class="titpeli">
                    <br>Tales from the Crypt (1996)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/movieposter.jpg">
                  <p class="titpeli">
                    <br>An American President (1995)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/220px-Hindenburg_(1975).jpg">
                  <p class="titpeli">
                    <br>The Hindenburg (1976)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-slider slider2" data-animation="slide" data-duration="2600" data-infinite="1" data-nav-spacing="7" data-delay="7000" data-autoplay="1">
            <div class="w-slider-mask mask2">
              <div class="w-slide slide12">
                <div class="divslidpelis"><img class="imgpelis" src="images/spartacus-blood-and-sand-tv-movie-poster-1020546441.jpg">
                  <p class="titpeli">
                    <br>Spartacus: Blood and Sand (2010)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/uydzEEtZSMRUQPhqQQN8q6Zs7xk.jpg">
                  <p class="titpeli">
                    <br>
                    <br>Beyonce (2010)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga.jpg">
                  <p class="titpeli">
                    <br>Ninja Turtles (2007)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/Frost_nixon.jpg">
                  <p class="titpeli">
                    <br>Frost/Nixon Interview (2007)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (1).jpg">
                  <p class="titpeli">
                    <br>Man of the Year (2007)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (2).jpg">
                  <p class="titpeli">
                    <br>Peace One Day (2007)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/the-stepford-wives-poster.jpg">
                  <p class="titpeli">
                    <br>Stepford Wives (2006)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/2v2i6v7.jpg">
                  <p class="titpeli">
                    <br>
                    <br>Lassie (2005)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (3).jpg">
                  <p class="titpeli">
                    <br>Saint Ralph (2004)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/The_SpongeBob_Squarepants_Movie_poster_usa.jpg">
                  <p class="titpeli">
                    <br>Sponge Bob (2004)</p>
                </div>
              </div>
              <div class="w-slide">
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (4).jpg">
                  <p class="titpeli">
                    <br>A million to Juan (2003)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/The-Muppets2011.jpg">
                  <p class="titpeli">
                    <br>The Muppets (2003)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (5).jpg">
                  <p class="titpeli">
                    <br>Degrassi: The Next Generation (2001)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/51VH5ZZE4CL._SS500_.jpg">
                  <p class="titpeli">
                    <br>
                    <br>Judas (2001)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/descarga (6).jpg">
                  <p class="titpeli">
                    <br>The Contract (1998)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/0052848566da2471acbd052d4f3feaf9.jpg">
                  <p class="titpeli">Life and Death of Princess Diana
                    <br>(1998)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/MV5BMTU1ODAzODc0M15BMl5BanBnXkFtZTcwNTk1MDcyMQ@@._V1_SY317_CR9,0,214,317_AL_.jpg">
                  <p class="titpeli">
                    <br>
                    <br>Avalanche (1996)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/tumblr_mvbsf8sz5q1qg8i80o2_1280.jpg">
                  <p class="titpeli">
                    <br>Tales from the Crypt (1996)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/movieposter.jpg">
                  <p class="titpeli">
                    <br>An American President (1995)</p>
                </div>
                <div class="divslidpelis"><img class="imgpelis" src="images/220px-Hindenburg_(1975).jpg">
                  <p class="titpeli">
                    <br>The Hindenburg (1976)</p>
                </div>
              </div>
            </div>
            <div class="w-slider-arrow-left larrow">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="w-slider-arrow-right rarrow">
              <div class="w-icon-slider-right earrowicon"></div>
            </div>
            <div class="w-slider-nav w-slider-nav-invert w-shadow sidenavpelis"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="divnoticias" id="NOTICIAS">
      <div class="w-section seccnoti">
        <div class="divsecciones">
          <div class="w-container contdicsecciones">
            <h2 class="secciones">Noticias y eventos</h2>
          </div>
        </div>
        <div class="w-container contnoti">
          <div class="w-row rownoti">
            <div class="w-col w-col-4"><img class="imgnoti" src="images/barcampba.jpg">
            </div>
            <div class="w-col w-col-8">
              <p class="textnoti">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
          </div>
        </div>
        <div class="w-container contnoti">
          <div class="w-row rownoti">
            <div class="w-col w-col-4"><img class="imgnoti" src="images/barcampba.jpg">
            </div>
            <div class="w-col w-col-8">
              <p class="textnoti">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
          </div>
        </div>
        <div class="w-container contnoti">
          <div class="w-row rownoti">
            <div class="w-col w-col-4"><img class="imgnoti" src="images/barcampba.jpg">
            </div>
            <div class="w-col w-col-8">
              <p class="textnoti">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
          </div>
        </div>
        <div class="w-container contnoti">
          <div class="w-row rownoti">
            <div class="w-col w-col-4"><img class="imgnoti" src="images/barcampba.jpg">
            </div>
            <div class="w-col w-col-8">
              <p class="textnoti">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
          </div>
        </div>
        <div class="w-container contnoti">
          <div class="w-row rownoti">
            <div class="w-col w-col-4"><img class="imgnoti" src="images/barcampba.jpg">
            </div>
            <div class="w-col w-col-8">
              <p class="textnoti">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divcontacto" id="CONTACTO">
      <div class="w-section secccontacto">
        <div class="divsecciones">
          <div class="w-container contdicsecciones">
            <h2 class="secciones">Contáctenos</h2>
          </div>
        </div>
        <div class="w-container contctacto">
          <div class="w-row">
            <div class="w-col w-col-6 colctacto1">
              <div class="textmsje">Por favor, complete el siguiente formulario:</div>
              <div class="w-form formwrapper">
                <form id="email-form" name="email-form" data-name="Email Form">
                  <input class="w-input textfield" id="Nombre" type="text" placeholder="Nombre" name="Nombre" data-name="Nombre" required="required">
                  <input class="w-input textfield" id="email" type="email" placeholder="Correo electrónico" name="email" data-name="Email" required="required" autofocus="autofocus" mail="Email">
                  <input class="w-input textfield" id="Tel-fono" type="text" placeholder="Teléfono" name="Tel-fono" required="required" data-name="Teléfono">
                  <textarea class="w-input textfield" id="Comentario-Consulta" placeholder="Comentario/Consulta" name="Comentario-Consulta" required="required" data-name="Comentario/Consulta"></textarea>
                  <input class="w-button submitboton" type="submit" value="Enviar" data-wait="Por favor, espere mientras se envía su consulta." wait="Por favor, espere mientras se envía su consulta.">
                </form>
                <div class="w-form-done">
                  <p>Thank you! Your submission has been received!</p>
                </div>
                <div class="w-form-fail">
                  <p>Oops! Something went wrong while submitting the form :(</p>
                </div>
              </div>
            </div>
            <div class="w-col w-col-6 colctacto2">
              <div class="textctacto">+54-341-4497115</div><a class="linkctacto" href="mailto:gracielacuello@connections-si.com">contact@connections-si.com</a>
              <div class="textctacto">Rosario&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Argentina</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divcontienefooter">
    <div class="w-section seccfooter">
      <div class="w-container">
        <div class="textfooter">Connections Servicios Idiomáticos®&nbsp;&nbsp;|&nbsp;&nbsp;2015&nbsp;&nbsp;|&nbsp;&nbsp;Todos los derechos reservados</div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
  Webflow.ready();
  </script>
