<div class="container">

  <p class="gestion-title">
    Portfolio
  </p>

  <form name="portfolioForm" novalidate>
    <div class="form-group" ng-class="{'has-error': todoForm.content.$invalid && todoForm.content.$dirty}">

      <accordion close-others="oneAtATime">

        <accordion-group heading="Español" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">

          <textarea ui-tinymce class="form-control focus" name="descripcionEsp"
          rows="4" cols="50"
          placeholder="Descripción" autocomplete="off"
          ng-model="model.descripcionEsp">
          </textarea>

        </accordion-group>
        <accordion-group heading="Inglés">

          <textarea ui-tinymce class="form-control focus" name="descripcionIng"
          rows="4" cols="50"
          placeholder="Descripción" autocomplete="off"
          ng-model="model.descripcionIng">
          </textarea>

        </accordion-group>
        <accordion-group heading="Portugués">
          <textarea ui-tinymce class="form-control focus" name="descripcionPor"
          rows="4" cols="50"
          placeholder="Descripción" autocomplete="off"
          ng-model="model.descripcionPor">
          </textarea>
        </accordion-group>

        <accordion-group heading="Francés">
          <textarea ui-tinymce class="form-control focus" name="descripcionFra"
          rows="4" cols="50"
          placeholder="Descripción" autocomplete="off"
          ng-model="model.descripcionFra">
          </textarea>
        </accordion-group>

      </accordion>
  </div>

  <button class="btn btn-default margin" ng-disabled="todoForm.$invalid" ng-click="agregarPortfolio()">Agregar</button>
</form>


<div class="list-group">
  <div class="list-group-item" ng-repeat="p in portfolios">
    <a ng-click="editarPortfolio(p.id)">
      <i class="glyphicon glyphicon-edit pull-right margin-left"></i>
    </a>
    <i class="glyphicon glyphicon-remove pull-right"
    ng-click="borrarPortfolio(p.id)">
    </i>
  <div class="left title" style="font-size: 16px;" compile="{{ p.descripcionEsp }}">

  </div>
  <div class="clear"></div>
</div>
</div>
</div>
